
	<div>
		<h3>Tags:</h3>
		<% ActsAsTaggableOn::Tag.all.each do |tag| %>
			<button type="button" class="btn btn-default tag" ><%= link_to tag.name, "tags/#{tag.slug}" %></button>
		<% end %>
	</div>
