<div class="col-md-3">
	<div class="btn-group">
	<% ActsAsTaggableOn::Tag.all.each do |tag| %>
		<button type="button" class="btn btn-default"><%= link_to tag.name, "tags/#{tag.slug}" %></button>
	<% end %>
	</div>
</div>