
<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="dropdown">
		Dropdown
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<% ActsAsTaggableOn::Tag.all.each do |tag| %>
			<li role="presentation"><a role="menuitem" tabindex="-1" ><%= link_to tag.name, "tags/#{tag.slug}" %></button>
		<% end %>
	</ul>
</div>
